# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ambiente virtual
venv/
ENV/

# Bancos de dados
*.sqlite3
*.db

# Diretórios específicos do projeto
/staticfiles/
/media/

# Logs
*.log

# Arquivos de ambiente
.env.local
.env.development
.env.production

# Outros
.DS_Store
.idea/
.vscode/ 